.Controls {
    text-align: center;
  }
  
  .Controls__button {
    font-size: 16px;
    padding: 10px;
    width: 80px;
    height: 80px;
    cursor: pointer;
    margin: 0px 2px;
    border-radius: 50%;
    margin: 0px 40px ;
    background-color: rgba(72,72,72, 0.2);
    color: #ff005a;
    text-shadow: 0.5px 0.5px 3px #ff005a;
    letter-spacing: 1.5px;
  }

  .Controls__button:focus {
    outline: none
  }

  .Controls__button:hover {
    cursor: pointer;

  }