* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .App {
    text-align: center;
    font-family: Helvetica, sans-serif;
    min-height: 100vh;
    background-color: #101010;
  }

  .App-title {
    font-size: 50px;
    padding: 25px 0;
  }